*{
    margin: 0;
    padding:0;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color:cornflowerblue;
    
}
nav
{
    height:5rem;
    background-color: white;
    
}
.navlink
{
    background-color: rgb(52, 41, 153);
    color: white;
    float:right;
    padding: 0.5rem 1.0rem 0.4rem 0.5rem;
    text-decoration: none;
    margin-right: 0.5rem;
    border-radius: 5px;
    width: 50px;
    
}

.Sign_Up
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    background:white;
    padding:20px;
    margin: 8% auto 0;
    text-align:center ;
}
.round
{
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    padding: 0.5rem;
    
}
.input_box
{
  border-radius: 5px;
  padding:10px;
  margin:10px -10px;
  width:100%;
  border:1px solid #999;  
  outline:none;
}

button
{
    background-color: navy;
    color: white;
    padding: 10px;
    margin:10px -10px;
    width:100%;
    border-radius:5px;
    font-size:medium;
    
}

